@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

// sass Variables
$Light-gray-blue: #023e8a;
$Neon-Green: #72fa93;
$Grass-Green: #a0e548;
$Orangeish-red: #e45f2b;
$Yellow: #f6c445;
$Pearl-White: #f3f3f3;
$VeryDark-Gray: #212427;
$Shadow: rgba(0, 0, 0, 0.05);
