// widescreens
@include mediaXl {
}

// Desktops & laptops
@include mediaLg {
  .custom-nav-container {
    .navbar-toggler {
      border-color: white;
    }
    .navbar-toggler-icon {
      background-image: url(../images/Hamburger_icon_white.svg);
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 15px 15px 15px !important;
        }
      }
    }
  }

  .upcoming-event {
    width: 100%;
    .event-details {
      flex-direction: column;
      .event-image {
        padding: 15px;
        margin-bottom: 1rem;

        // padding: 0 0 10px 0;
        // background: linear-gradient(
        //   to right,
        //   rgba(131, 58, 180, 1) 0%,
        //   rgba(253, 29, 29, 1) 50%,
        //   rgba(252, 176, 69, 1) 100%
        // );

        // &::after {
        //   top: 100%;
        //   left: 50%;
        // }
      }
      .event-utils {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        .event-date {
          margin: 0;
        }
      }
      .button {
        margin: 0;
      }
    }
  }

  .detail-page {
    .blog-content {
      .content-info {
        width: 100%;
      }
    }
  }

  footer {
    .item.social {
      text-align: center;
      margin-top: 20px;
    }
  }
}

// Tablets & small Laptops
@include mediaMd {
  .slides {
    .detail-box {
      h1 {
        font-size: 2.5rem;
        letter-spacing: 1rem;
      }
      h2 {
        font-size: 20px;
      }
    }
  }

  .aboutus {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
      .about-img {
        margin-top: 20px;
        width: 60%;
        z-index: -1;
      }
    }
  }

  .sub-page {
    .aboutus {
      height: 100vh;
      .row {
        .about-img {
          width: 70%;
        }
      }
    }

    .heading-area {
      .heading {
        font-size: 35px;
        font-weight: 600;
      }
    }

    .event-page {
      .box {
        .event-image {
          img {
            aspect-ratio: 3/2;
          }
        }
      }
    }
  }

  .box {
    .detail-box {
      h4 {
        font-size: 1.2rem;
      }
    }
  }

  .detail-page {
    .title-area {
      height: auto;
      h1 {
        margin: 80px 20px 40px 20px;
        font-size: 18px;
      }
    }
    .content-area {
      .content-text {
        p {
          line-height: 150%;
          font-size: 16px;
          color: #333;
        }
      }
    }
  }

  .newsletter {
    padding: 30px;
    height: 40vh;
    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  footer {
    .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
    }
    .text {
      .logo {
        .navbar-brand {
          color: $VeryDark-Gray;
          align-items: center;
        }
      }
    }
  }
}

// smartphones
@include mediaSm {
  .slides {
    .detail-box {
      h1 {
        font-size: 30px;
        letter-spacing: 5px;
      }
      h2 {
        font-size: 1rem;
      }
    }
  }

  .detail-page {
    .title-area {
      height: auto;
    }
    .content-area {
      .content-info {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;

        p {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }
      .content-text {
        p {
          font-size: 14px;
        }
      }
    }
  }

  .heading-area {
    margin-top: 10px;
  }

  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .detail-box {
      border-bottom: 1px solid #b0b0b0;
      border-top: 1px solid #b0b0b0;
      border-left: none;
      border-right: none;
    }
    .date-box {
      h3 {
        span {
          font-size: inherit;
        }
      }
    }
  }

  .blog-page {
    .blogs {
      margin: 10px 0;
      .blog-box {
        margin: 10px 0;
      }
    }
  }

  .event-page {
    .events {
      margin: 10px 0;
    }
  }

  .jobs-page {
    .jobs {
      margin: 10px 0;
      align-items: center;

      form {
        width: 90%;
        margin: 10px;
        text-align: center;

        .input-group {
          width: 100%;
          gap: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .form-control,
          .form-select {
            width: 100%;
          }
        }
      }
    }
  }

  .newsletter {
    padding: 30px;
    height: 50vh;
    h2 {
      font-size: 1.2rem;
    }

    p {
      font-size: 14px;
    }
    form {
      width: 250px;
    }
  }
}

@include mediaXsm {
  .detail-page {
    .content-area {
      .content-info {
        font-size: 14px;
      }
      .content-text {
        p {
          font-size: 14px;
        }
      }
    }

    .job-content {
      .content-info {
        .box {
          flex-direction: column;
          width: 100%;
          font-weight: normal;
          border: none;
          p {
            margin: 0;
          }

          .detail-box {
            border: none;
            h4 {
              margin: 0;
            }
          }
        }
      }
    }

    .blog-content {
      .content-info {
        flex-wrap: wrap;
      }
    }
  }
}
