// widescreens
@include mediaXl {
}

// Desktops & laptops
@include mediaLg {
  .custom-nav-container {
    .navbar-toggler {
      border-color: white;
    }
    .navbar-toggler-icon {
      background-image: url(/images/Hamburger_icon_white.svg);
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 15px 15px 15px !important;
        }
      }
    }
  }

  footer {
    .item.social {
      text-align: center;
      margin-top: 20px;
    }
  }
}

// Tablets & small Laptops
@include mediaMd {
  .custom-nav-container {
    .navbar-toggler {
      border-color: white;
    }
    .navbar-toggler-icon {
      background-image: url(/images/Hamburger_icon_white.svg);
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 15px 15px 15px !important;
        }
      }
    }
  }

  .slides {
    .detail-box {
      h1 {
        font-size: 2.5rem;
        letter-spacing: 1rem;
      }
      h2 {
        font-size: 20px;
      }
    }
  }

  .upcoming-event {
    width: 100%;
    .event-details {
      flex-direction: column;
      .event-image {
        padding: 0 0 10px 0;
        background: linear-gradient(
          to right,
          rgba(131, 58, 180, 1) 0%,
          rgba(253, 29, 29, 1) 50%,
          rgba(252, 176, 69, 1) 100%
        );

        &::after {
          top: 100%;
          left: 50%;
        }
      }
      .event-utils {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 20px;

        .event-date {
          margin: 0;
        }
      }
      .button {
        margin: 0;
      }
    }
  }

  .aboutus {
    margin-top: 30px;
    height: 100vh;
    .row {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      .about-img {
        margin-top: 20px;
        width: 60%;
        z-index: -1;
      }
    }
  }

  .newsletter {
    padding: 30px;

    form {
      width: 280px;

      input {
        width: 100%;
        font-family: inherit;
        border: 0;
        border-bottom: 2px solid lightgray;
        outline: 0;
        color: $Pearl-White;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;

        &::placeholder {
          color: lightgray;
          text-align: center;
        }

        &:focus {
          padding-bottom: 6px;
          font-weight: bold;
          border-width: 3px;
          border-image: linear-gradient(to right, $Yellow, $Neon-Green);
          border-image-slice: 1;
        }
      }
    }
  }

  footer {
    .item:not(.social) {
      text-align: center;
      padding-bottom: 20px;
    }
    .text {
      .logo {
        .navbar-brand {
          color: $VeryDark-Gray;
          align-items: center;
        }
      }
    }
  }
}

// smartphones
@include mediaSm {
  .custom-nav-container {
    .navbar-toggler {
      border-color: white;
    }
    .navbar-toggler-icon {
      background-image: url(/images/Hamburger_icon_white.svg);
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 15px 15px 15px !important;
        }
      }
    }
  }

  .slides {
    .detail-box {
      h1 {
        font-size: 25px;
        letter-spacing: 5px;
      }
      h2 {
        font-size: 1rem;
      }
    }
  }
}

@include mediaXsm {
}
