@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "config";

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: $VeryDark-Gray;
  background-color: $Pearl-White;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.hero-area {
  height: 100vh;
  background-color: #b5caee;
  background-image: linear-gradient(
      rgba(29, 38, 113, 0.8),
      rgba(195, 55, 100, 0.8)
    ),
    url("/images/hero-bg1.jpg");
  background-size: cover;
}

.custom-nav-container {
  background-color: transparent !important;
  padding: 0;
  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 45px 15px 15px;
        color: #ffffff;
        text-align: center;
        position: relative;
        text-transform: uppercase;
      }

      &:hover,
      &.active {
        .nav-link {
          background-color: $Orangeish-red;
        }
      }
    }
  }
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: $VeryDark-Gray;
  color: #fff;

  h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  span {
    font-size: 20px;
    font-weight: bold;
    margin-top: -10px;
  }
  &:hover,
  &:focus {
    color: #fff;
  }
}

.event-content {
  h2 {
    line-height: 1.2;
    margin: 14px 0;
    font-size: 30px;
    text-transform: uppercase;
  }
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $Light-gray-blue;
  height: 110px;
  margin-bottom: 20px;
  gap: 0;
  text-align: center;

  :first-child {
    display: block;
    width: 70px;
    padding: 5px 10px 0 10px;
    font-weight: 600;
    font-size: 30px;
  }

  :nth-child(2) {
    display: block;
    padding: 0 10px 5px 10px;
    width: 70px;
  }

  :nth-child(3) {
    display: block;
    width: 70px;
    padding: 5px 12px;
    background: rgba(0, 0, 0, 0.3);
  }
}

.join-btn {
  width: 150px;
  height: auto;
  line-height: 50px;
  color: #fff;
  border: 1px solid transparent;
  font-size: 18px;
  background-color: $Yellow;

  &:hover {
    color: $Yellow;
    background-color: $Pearl-White;
    border-color: $Yellow;
  }
}

.slides {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $Pearl-White;

  #carouselExampleIndicators {
    width: 100%;
  }

  .detail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      font-size: 4rem;
      letter-spacing: 0.7rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 15px;
      border: 1px solid rgba($color: $Pearl-White, $alpha: 0.2);
    }
    h2 {
      margin-top: 2rem;
    }

    a {
      @include hero_btn($Orangeish-red, $Pearl-White, 10px, 45px);
      margin-top: 35px;
    }
    margin-bottom: 110px;
  }
}
