@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "config";

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: $VeryDark-Gray;
  background-color: $Pearl-White;
}

.event-content {
  h2 {
    line-height: 1.2;
    margin: 14px 0;
    font-size: 30px;
    text-transform: uppercase;
  }
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $Light-gray-blue;
  height: 110px;
  margin-bottom: 20px;
  gap: 0;
  text-align: center;

  :first-child {
    display: block;
    width: 70px;
    padding: 5px 10px 0 10px;
    font-weight: 600;
    font-size: 30px;
  }

  :nth-child(2) {
    display: block;
    padding: 0 10px 5px 10px;
    width: 70px;
  }

  :nth-child(3) {
    display: block;
    width: 70px;
    padding: 5px 12px;
    background: rgba(0, 0, 0, 0.3);
  }
}

.join-btn {
  width: 150px;
  height: auto;
  line-height: 50px;
  color: #fff;
  border: 1px solid transparent;
  font-size: 18px;
  background-color: $Yellow;

  &:hover {
    color: $Yellow;
    background-color: $Pearl-White;
    border-color: $Yellow;
  }
}
