@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "config";

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: $VeryDark-Gray;
  background-color: $Pearl-White;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: $Orangeish-red;
}

.button {
  display: inline-block;
  padding: 15px 55px;
  background-color: $Orangeish-red;
  border: 1px solid $Orangeish-red;
  color: $Pearl-White !important;
  transition: all ease-in-out 300ms;

  &:hover {
    background-color: transparent;
    color: $Orangeish-red !important;
  }
}

.tag {
  color: #555;
}

.hero-area {
  height: 100vh;
  background-color: #b5caee;
  background-image: linear-gradient(
      rgba(29, 38, 113, 0.8),
      rgba(195, 55, 100, 0.8)
    ),
    url("../images/hero-bg1.jpg");
  background-size: cover;
}

.sub-page {
  .hero-area {
    height: auto;
  }
}

.custom-nav-container {
  background-color: transparent !important;
  padding: 0;

  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 45px 15px 15px;
        color: #ffffff;
        text-align: center;
        position: relative;
        text-transform: uppercase;
        transition: all ease-in-out 400ms;
        box-shadow: inset 0 0 0 0 $Orangeish-red;
        -webkit-transition: ease-out 0.4s;
        -moz-transition: ease-out 0.4s;
        transition: ease-out 0.4s;
      }

      &:hover,
      &.active {
        .nav-link {
          box-shadow: inset 0 100px 0 0 $Orangeish-red;
        }
      }
    }
  }
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #fff;

  h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }

  span {
    font-size: 20px;
    font-weight: bold;
    margin-top: -5px;
  }

  &:hover,
  &:focus {
    color: $Orangeish-red;
  }
}

.slides {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $Pearl-White;

  #carouselExampleIndicators {
    width: 100%;
  }

  .detail-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h1 {
      display: inline-block;
      font-size: 4rem;
      letter-spacing: 2rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 15px 0;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 0.15em solid orange; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.15em; /* Adjust as needed */
      animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;

      /* The typing effect */
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }

      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from,
        to {
          border-color: transparent;
        }
        50% {
          border-color: orange;
        }
      }
    }

    h2 {
      margin-top: 2rem;
    }

    .button {
      margin-top: 35px;
    }

    margin-bottom: 110px;
  }
}

.upcoming-event {
  background-color: #eeeeee;
  .container {
    padding: 0;
    .event-details {
      .event-image {
        height: 100%;
        object-fit: cover;
        position: relative;
        // background: linear-gradient(
        //   rgba(131, 58, 180, 1) 0%,
        //   rgba(253, 29, 29, 1) 50%,
        //   rgba(252, 176, 69, 1) 100%
        // );

        // padding-left: 0px;
        // padding-right: 10px;
        // margin-right: 20px;

        // &::after {
        //   content: "";
        //   position: absolute;
        //   top: 50%;
        //   left: 100%;
        //   transform: translate(-50%, -50%) rotate(45deg);
        //   background: rgba(253, 29, 29, 1) 50%;
        //   height: 16px;
        //   width: 16px;
        // }
        .event-image-one {
          border-radius: 30% 70% 67% 33% / 30% 30% 70% 70%;
          box-shadow: -5vmin 5vmin rgba(214, 143, 143, 0.2);
        }
      }

      .event-content {
        a {
          color: $VeryDark-Gray;

          &:hover {
            color: $Orangeish-red;
          }
        }

        h2 {
          line-height: 1.2;
          margin: 14px 0;
          font-size: 30px;
          text-transform: capitalize;
        }
        p {
          text-align: justify;
        }
      }

      .event-utils {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;

        .event-date {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: lightgray;
          height: 110px;
          margin-bottom: 20px;
          gap: 0;
          text-align: center;

          :first-child {
            display: block;
            width: 70px;
            padding: 5px 10px 0 10px;
            font-weight: 600;
            font-size: 30px;
          }

          :nth-child(2) {
            display: block;
            padding: 0 10px 5px 10px;
            width: 70px;
          }

          :nth-child(3) {
            display: block;
            width: 70px;
            padding: 5px 12px;
            background: rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
    .button {
      display: inline-block;
      padding: 20px 55px;
      background-color: $Orangeish-red;
      border: 1px solid $Orangeish-red;
      color: $Pearl-White !important;
      margin-top: 35px;

      &:hover {
        background-color: transparent;
        color: $Orangeish-red !important;
      }
    }
  }
}

.aboutus {
  .about-img {
    .aboutus-img-one {
      border-radius: 70% 30% 33% 67% / 70% 70% 30% 30%;
      box-shadow: 5vmin 5vmin rgba(214, 143, 143, 0.2);
    }
  }

  .about-us-detail {
    text-align: justify;
  }
}

.activities {
  background-color: #eeeeee;
  .row {
    h3 {
      font-size: 25px;
    }
    .button {
      margin: 35px auto;
    }
    .col {
      background-color: $Pearl-White;
      border-radius: 5px;

      a {
        color: inherit;

        &:hover {
          color: $Orangeish-red;
        }
      }
    }
    .scrollbar {
      height: 300px;
      padding: 0 10px;
    }

    #scrollbar::-webkit-scrollbar {
      width: 10px;
    }

    #scrollbar::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #e7e7e7;
      border: 1px solid #cacaca;
    }

    #scrollbar::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: rgba(22, 22, 22, 0.15);
    }

    .cards {
      height: 450px;
      overflow-y: scroll;

      .card {
        border: none;
        background-color: inherit;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .card-body {
          padding-top: 0;
          padding-bottom: 0;

          .card-title {
            font-size: 1rem;
          }

          .card-text {
            font-size: 14px;
          }
        }
      }
    }

    .jobs {
      .card {
        .row {
          display: flex;
          align-items: center;
          img {
            background-color: lightgray;
            padding: 5px;
            object-fit: scale-down;
            aspect-ratio: 1/ 1;
            border-radius: 50%;
          }
        }
      }
    }

    .events {
      .card {
        border-radius: 0;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        padding: 10px 0;
        .event-date {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .date {
            color: $Orangeish-red;
            font-size: 25px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.newsletter {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(
      rgba(29, 38, 113, 0.8),
      rgba(29, 38, 113, 0.8)
    ),
    url("../images/bg-newsletter.jpg");
  background-size: cover;
  color: $Pearl-White;
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
  form {
    width: 500px;

    input {
      width: 100%;
      font-family: inherit;
      border: 0;
      border-bottom: 2px solid lightgray;
      outline: 0;
      color: $Pearl-White;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;

      &::placeholder {
        color: lightgray;
        text-align: center;
      }

      &:focus {
        padding-bottom: 6px;
        font-weight: bold;
        border-width: 3px;
        border-image: linear-gradient(to right, $Yellow, $Neon-Green);
        border-image-slice: 1;
      }
    }
    .button {
      margin-top: 35px;
    }
  }
}

footer {
  padding: 50px 0;
  color: $VeryDark-Gray;
  background-color: #eeeeee;

  h3 {
    margin-top: 0;
    margin-bottom: 14px;
    font-weight: bold;
    font-size: 16px;
  }

  ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 0;

    a {
      color: inherit;
      text-decoration: none;
      opacity: 0.6;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .text {
    margin-bottom: 36px;

    .logo {
      .navbar-brand {
        color: $VeryDark-Gray;
        align-items: flex-start;
      }
    }
    p {
      opacity: 0.6;
      margin-bottom: 0;
    }
  }

  .social {
    text-align: center;

    a {
      font-size: 20px;
      width: 36px;
      height: 36px;
      line-height: 36px;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid $VeryDark-Gray;
      margin: 0 8px;
      color: $VeryDark-Gray;
      opacity: 0.75;

      &:hover {
        border-color: $Orangeish-red;
        color: $Orangeish-red;
      }
    }
  }

  .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
  }
}

.heading-area {
  margin-top: 48px;
  .heading {
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a 45%, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }
}

.event-page {
  .events {
    margin: 50px 0;
  }
}

.blog-page {
  .blogs {
    margin: 50px 0;

    .blog-box {
      margin: 30px 0;

      img {
        object-fit: cover;
      }

      // .blog-details {
      //   display: flex;
      //   align-items: flex-start;
      //   justify-content: space-between;

      //   .blog-info {
      //     padding: 0;
      //     border-right: 2px solid $VeryDark-Gray;

      //     p {
      //       margin: 0;
      //       width: 100%;
      //       padding: 10px 20px;
      //       text-align: center;
      //       background-color: $VeryDark-Gray;
      //       color: $Pearl-White;

      //       &:nth-child(2) {
      //         background-color: $Pearl-White;
      //         color: $VeryDark-Gray;
      //       }
      //     }
      //   }

      //   .blog-textbox {
      //     width: 100%;
      //     padding: 10px 20px;

      //     .blog-title {
      //       font-size: 24px;
      //     }

      //     .blog-excerpt {
      //       text-align: justify;
      //     }
      //   }
      // }
    }
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbcbcb;
  margin: 15px 0;
  border-radius: 5px;

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }

  .event-image {
    img {
      width: 100%;
      aspect-ratio: 5/ 2;
      object-fit: cover;
    }
  }

  .detail-box {
    border-left: 1px solid #b0b0b0;
    border-right: 1px solid #b0b0b0;
    flex: 1.4;
    padding: 10px 0;

    h4 {
      width: 100%;
      font-weight: bold;
      text-transform: capitalize;
      text-align: center;
    }

    h6 {
      width: 100%;
      text-align: center;
      color: #a4a4a4;
    }
  }

  .date-box {
    h3 {
      color: $Orangeish-red;

      span {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
}

.jobs-page {
  .jobs {
    width: 100%;
    margin: 50px 0;
    justify-content: center;
    align-items: start;
  .widget-area{
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 10px;
  }
    // form {
    //   width: 90%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;

    //   .input-group {
    //     width: 100%;
    //     gap: 10px;
    //     display: flex;
    //     justify-content: center;
    //   }
    // }

    .box {
      width: 100%;
      height: auto;

      img {
        width: 120px;
      }

      .location {
        gap: 10px;
      }

      .date-box {
        margin: 20px;
        .button {
          color: $Orangeish-red !important;
          border-color: $Orangeish-red;
          background-color: transparent;
          border-radius: 10px;
          padding: 10px 25px;
          margin-bottom: 5px;

          &:hover {
            background-color: $Orangeish-red;
            color: $Pearl-White !important;
          }
        }
      }
      p {
        margin: 0;
      }
    }
  }
}

.detail-page {
  .title-area {
    position: relative;
    width: 100%;
    height: 35vh;
    background: linear-gradient(
      -45deg,
      #3f51b1 0%,
      #5a55ae 13%,
      #7b5fac 25%,
      #8f6aae 38%,
      #a86aa4 50%,
      #cc6b8e 62%,
      #f18271 75%,
      #f3a469 87%,
      #f7c978 100%
    );

    background-size: 400% 400%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 20px;
      color: $Pearl-White;
      background: rgba(255, 255, 255, 0.1);
      padding: 20px;
      font-size: 32px;
      border-radius: 10px;
      max-width: 1000px;
    }

    .button {
      position: absolute;
      left: 20px;
      top: 20px;
      color: $Pearl-White;
      background: rgba(255, 255, 255, 0.2);
      padding: 10px 15px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      transition: all ease-in-out 300ms;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: white !important;
        border: 1px solid white;
      }
    }

    @keyframes animate {
      0% {
        background-position: 0 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0 50%;
      }
    }
  }

  .job-title {
    h1 {
      font-size: 45px;
    }
  }

  .content-area {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 1000px;

    .content-info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }

    .content-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      p {
        line-height: 150%;
        font-size: 18px;
        color: #333;
        // text-align: justify;
      }

      img {
        margin: 20px 0;
      }
    }
  }

  .job-content {
    .content-info {
      width: 100%;
      .box {
        width: 100%;
        font-weight: normal;
        border: none;
        p {
          margin: 0;
        }

        .job-image {
          max-width: 250px;
        }

        .detail-box {
          width: 80%;
          border: none;
          h4 {
            margin: 0;
          }
        }
      }
    }

    .content-text {
      align-items: self-start !important;
      h3 {
        margin: 15px 0;
      }
      p {
        text-align: left;
      }
    }
  }
}

.post-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  // cursor: default;
  // user-select: none;
  // pointer-events: none;

  .post-tag,
  a {
    display: inline-block;
    background: #f7dbdb;
    color: #777;
    border-radius: 3px 0 0 3px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    position: relative;
    margin-right: 20px;
    cursor: default;
    user-select: none;
    transition: color 0.2s;

    &::before {
      content: "";
      position: absolute;
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      height: 6px;
      left: 10px;
      width: 6px;
      top: 10px;
    }

    &::after {
      content: "";
      position: absolute;
      border-bottom: 13px solid transparent;
      border-left: 10px solid #f7dbdb;
      border-top: 13px solid transparent;
      right: -9.5px;
      top: 0;
    }
  }
}

@import "mobile";
